* {
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.form-group > input[type="text"] {
    display: inline-block;
    margin-top: 0.4rem;
}

.btn {
    padding: 0.8rem 1rem 0.7rem;
    border: 0.2rem solid #4d4d4d;
    cursor: pointer;
    text-transform: capitalize;
}

.btn.toggle-btn {
    border-width: 1px;
    border-color: #d3d3d3;
}

.btn.toggle-btn[aria-pressed="true"] {
    text-decoration: underline;
    border-color: #4d4d4d;
}

.btn__danger {
    color: #fff;
    background-color: #ca3c3c;
    border-color: #bd2130;
}

.btn__filter {
    border-color: lightgrey;
}

.btn__primary {
    color: #fff;
    background-color: #000;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group > * {
    flex: 1 1 49%;
}


.label-wrapper {
    margin: 0;
    flex: 0 0 100%;
    text-align: center;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

form {
    margin: 0 auto;
}

.input__lg {
    border: 3px solid #000;
    border-radius: 5px;
    width: 800px;
    height: 30px;
    font-size: 22px;
}

.btn__primary {
    margin: 10px;
}